4_Convolution_Neural_Network/Week1_1/W1A1/__pycache__
4_Convolution_Neural_Network/Week1_1/W1A1/.ipynb_checkpoints
4_Convolution_Neural_Network/Week1_1/W1A1/datasets
4_Convolution_Neural_Network/Week1_1/W1A1/images
4_Convolution_Neural_Network/Week1_1/W1A1/.hidden
4_Convolution_Neural_Network/Week1_2/W1A2/__pycache__
4_Convolution_Neural_Network/Week1_2/W1A2/.ipynb_checkpoints
4_Convolution_Neural_Network/Week1_2/W1A2/datasets
4_Convolution_Neural_Network/Week1_2/W1A2/images
4_Convolution_Neural_Network/Week1_2/W1A2/.hidden
4_Convolution_Neural_Network/Week2_1/W2A1/__pycache__
4_Convolution_Neural_Network/Week2_1/W2A1/.ipynb_checkpoints
4_Convolution_Neural_Network/Week2_1/W2A1/datasets
4_Convolution_Neural_Network/Week2_1/W2A1/images
4_Convolution_Neural_Network/Week2_1/W2A1/resnet50.h5
4_Convolution_Neural_Network/Week2_2/W2A2/__pycache__
4_Convolution_Neural_Network/Week2_2/W2A2/.ipynb_checkpoints
4_Convolution_Neural_Network/Week2_2/W2A2/dataset
4_Convolution_Neural_Network/Week2_2/W2A2/images
4_Convolution_Neural_Network/Week3_1/W3A1/.ipynb_checkpoints
4_Convolution_Neural_Network/Week3_1/W3A1/font
4_Convolution_Neural_Network/Week3_1/W3A1/images
4_Convolution_Neural_Network/Week3_1/W3A1/model_data
4_Convolution_Neural_Network/Week3_1/W3A1/nb_images
4_Convolution_Neural_Network/Week3_1/W3A1/out
4_Convolution_Neural_Network/Week3_1/W3A1/yad2k
4_Convolution_Neural_Network/Week3_2/W3A2/__pycache__
4_Convolution_Neural_Network/Week3_2/W3A2/.ipynb_checkpoints
4_Convolution_Neural_Network/Week3_2/W3A2/data
4_Convolution_Neural_Network/Week3_2/W3A2/images
4_Convolution_Neural_Network/Week4_1/W4A2/__pycache__
4_Convolution_Neural_Network/Week4_1/W4A2/.ipynb_checkpoints
4_Convolution_Neural_Network/Week4_1/W4A2/images
4_Convolution_Neural_Network/Week4_1/W4A2/output
4_Convolution_Neural_Network/Week4_1/W4A2/pretrained-model
4_Convolution_Neural_Network/Week4_2/W4A1/.ipynb_checkpoints
4_Convolution_Neural_Network/Week4_2/W4A1/datasets
4_Convolution_Neural_Network/Week4_2/W4A1/images
4_Convolution_Neural_Network/Week4_2/W4A1/keras-facenet_tf23
4_Convolution_Neural_Network/Week4_2/W4A1/keras-facenet-h5
4_Convolution_Neural_Network/Week4_2/W4A1/images.gz
4_Convolution_Neural_Network/Week4_2/W4A1/nn4.small2.v7.h5
5_Sequence_Models/Week1_1/W1A1/__pycache__
5_Sequence_Models/Week1_1/W1A1/.ipynb_checkpoints
5_Sequence_Models/Week1_1/W1A1/images
5_Sequence_Models/Week1_2/W1A2/__pycache__
5_Sequence_Models/Week1_2/W1A2/.ipynb_checkpoints
5_Sequence_Models/Week1_2/W1A2/images
5_Sequence_Models/Week1_2/W1A2/models
5_Sequence_Models/Week1_2/W1A2/dinos.txt
5_Sequence_Models/Week1_2/W1A2/shakespeare.txt
5_Sequence_Models/Week1_3/W1A3/__pycache__
5_Sequence_Models/Week1_3/W1A3/.ipynb_checkpoints
5_Sequence_Models/Week1_3/W1A3/data
5_Sequence_Models/Week1_3/W1A3/images
5_Sequence_Models/Week1_3/W1A3/output